<% content_for :custom_javascript do %>
  <%= render :partial => 'topics/js' %>
<% end %>
<div class='news_group'>
  <div class='news_block'>
    <h2><span class="page_label"><%= t('topic.label.new') %></h2></span>
    <% if params[:advance] == '1' %>
      <%= render :partial => 'advance_form' %>
    <% else %>
      <%= render :partial => 'simple_form' %>
    <% end %>
  </div>
</div>
