
<div class='news_group'>
  <div class='news_block'>
    <h2>
      <span class="page_label"><%= t('navigation.main.top_authors') %> </span></h2>
      <br>
<div class = "author">
      <% @authors.each do |author| %>
        
         <%= render_author_preview( author ) %> &nbsp;
      <% end %>
</div>
      
      <% if @authors.empty? %>
        <em><%= t( 'authors.not.found' ) %></em>
      <% end %>
  </div>
</div>