
<div class='wizzard'>
  <h2>
    <span class="about"><%= link_to t('jurnalo.wizard.subscribe_author'), whats_authors_path %>&nbsp;&nbsp;&nbsp;<%= link_to t('jurnalo.wizard.whats_that'), whats_authors_path %></span>
  </h2>
 
</div>
