<div class='wizzard'>
  <h2>
    <span class="about">
<%= link_to t('jurnalo.wizard.rate_source'), whats_sources_path %>&nbsp;&nbsp;&nbsp;<%= link_to t('jurnalo.wizard.whats_that'), whats_sources_path %>

	</span>
</h2>

</div>
