<div class='wizzard'>
  <h2>
    <span class="about"><%= link_to t('jurnalo.wizard.reading_list'), :controller => :reading_list, :action => :whats %>&nbsp;&nbsp;&nbsp;<%= link_to( t('reading_list.action.howto'), :controller => :reading_list, :action => :whats ) %></span>
  </h2>  
</div>
