
<div class='wizzard'>
  <h2>
    <span class ="about"><%= link_to t('jurnalo.wizard.create_topic'), whats_topics_path %>&nbsp;&nbsp;&nbsp;<%= link_to t('jurnalo.wizard.whats_that'), whats_topics_path %></span>
  </h2> 
</div>
