

<div class="footer_module" ></div>

  <%= link_to t( 'navigation.bottom.about' ), about_path %> -
  <%= link_to t( 'navigation.bottom.privacy' ), privacy_path %> -
  <%= link_to t( 'navigation.bottom.imprint' ), imprint_path %> 


<br>
  <span class= "grey">&copy; 2010</span>

