
<% @story_blocks.keys.each do | group_type | %>
  <div class='news_group'>
    <% partial = "blocks/#{group_type}" %>
    <% @story_blocks[ group_type ].each do |block| %>
      <%= render :partial => partial, :locals => { :block => block } %>
    <% end %>
  </div>
<% end %>