<% render_image_block( story ) do %>
  <div class='medium_headline'><%= render_headline_preview( story, :without => :image ) %></div>
  
  <% #This comment is important please do not remove it. %>
  <!-- dnt-del-->
<% end %>