<div class='news_block'>
<h2><span class="page_label"><%= t( 'jurnalo.about.label' ) %></span></h2>
<div class = "about">
	
  <%= t('jurnalo.about.you_can') %>:
  <br/><br/>
  
  - <%= t('jurnalo.about.subscribe_author') %> <br/>
  - <%= t('jurnalo.about.weight') %> <br/>

</div>
</div>